#div1{
    /* background-color: green; */
    height: 500px;
    width: 100%;
    border: 2px solid black;
}
#color-form{
    margin-top: 25px;
  
}
#divbox{
    border: 3px solid black;
}
.div{
    border: 1px solid black;
    margin: 20px 20px 20px 20px;
    padding: 10px 5px 10px 5px;
    
}