#div1{
    /* background-color: green; */
    height: 500px;
    width: 100%;
    border: 2px solid black;
}
#color-form{
    margin-top: 25px;
  
}
#divbox{
    border: 3px solid black;
}
.div{
    border: 1px solid black;
    margin: 20px 20px 20px 20px;
    padding: 10px 5px 10px 5px;
    
}
#divparent{
    width: 500px;
    height: 100%;
    background-color: aquamarine;
}
#divchild1{
    width: 40px;
    height: 40px;
    background-color: blueviolet;
 margin: 20px 20px 20px 20px;
 padding: 20px 20px 20px 20px;

}
#divchild2{
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    padding: 20px 20px 20px 20px;
 margin: 20px 20px 20px 20px;

}